ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(4, 95, 208);
}

body,
html {
    height: 100%;
}

#header{
    height: 156px;
    padding: 0;
    font-size: 14px;
    width:100%;
}

#heading{
	text-align:center;
	font-size:50pt;
	font-family:verdana,arial,sans-serif;
	color:#FFA500;
	padding-top:35pt;
	line-height:normal;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #FFA500;
}

.active {
    background-color: #FFA500;
    color: white;
    font-size: large;
}

.websiteLink {
    color: white;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

#BusBookingFormBlock {
    position: relative;
    width: 100%;
    padding: 0px 5% 0px 180px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    padding-top: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(4, 95, 208);
    color: white;
    text-align: center;
}